.hero {
    background: linear-gradient(135deg, #007bff, #6610f2); /* blue-purple gradient */
    color: white;
    padding: 60px 20px;
    border-radius: 0 0 30px 30px;
}

.hero-content h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto 20px auto;
    line-height: 1.6;

body{
    text-align: center;
    font-family: cursive;
    line-height: 35px;
    font-size: larger;
    background-color: #ffffff;
    color: black;
}
p{
    margin-bottom: 20px;
}
*:focus {
    outline: none !important;
}
i#smiley{
    color: darkmagenta
}